.AppBackground{

   background-image: url(https://lh3.googleusercontent.com/8IgfGYLUcCXYnxWdfcJbW9lE8w7mdmyngKKFZmxPHTNZNZ333Ma6MI7y5Ahd84zlmwCYS-iZgQeH_6iUJiv4xb25PKLOfhF1Bub8CwnHtn3rbQz3P6xwpheIRyW5GxUvg8PqAG6xF5JGfOzJ7DMNiVk8TduAhg97EC5Lf4P_N2SHELYvQjSb7U6kL9kpBHg7CBpRA2avaSl5PHEE79RtGuRVt0KrgBYx44HBuJzAtk7L-3Y1mnnTbV-TTYotsaj3Uf4cAo5TuFXI6Jh09Z7TuRr_pFHMvxOym9CKyTAatMKihdnZrjqFZ1J8DMU_IZOaAgGwRtpntVwXI8dzM1ewrX3dNv43n1a5FiC-sJKsCiG2zbfiL_z-dE6GXadC40X3rYlzd-dbaYM-qTuEn9qMTwzm7kup8TLUHKnJVFzoar12oQ_MDPP9YbdKSBxVFINknajYYwqQso8agZ_FVNygqmf1ObAnNvSUbBOUtVgcCPUzEMGMqxvZXus1xidCQGtU-MORF7pBHcWsY1bfJKsOmG4h8OYq0P0XAOx2iC65782ux_FntFiryNXQPZ-AY0QVTg1_QhQtt6HcDI8m0QVHwEy58F2pICdOUmoks_e3f-3SQlZcmBJ-h3NT2QbwnkxIfJxuAe3T07Ezlhh4BAwpz2vMtifOCQ=w795-h636-no);
   background-attachment: fixed cover;
}

.LayoutBackground Header{
background-color: transparent;
padding: 0px 20px 10px;
}
